[project]
name = "coinfer-sdk"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "httpx>=0.28.1",
    "openapi-generator-cli[jdk4py]==7.16.0",
]
